# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.sweeper project.iml
# Datasource local storage ignored files
/../../../../../../../../:\HKU\sweeper repo\rtx-sweeper\sweeper project\.idea\.idea.sweeper project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
